<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Password</title>
    <link th:href="@{/css/booststrap/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/booststrap/bootstrap.bundle.js}" type="text/javascript"></script>
</head>
<body>
    <nav th:replace="layout :: menu"></nav>
    <h1 class="text-center mb-5">CAMBIAR TU PASSWORD</h1>
    <div class="container" style="margin-left: 350px;">
        <div class="col-md-5" >
            <form th:action="@{/auth/cambiar-password}" th:object="${user}" method="post" onsubmit="return validarPassword()">
                <div class="mb-3 d-flex d-flex justify-content-center align-content-center">
                    <label for="nuevopassword" class="col-sm-5 col-form-label">Nuevo Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="nuevopassword" name="password" th:field="*{password}">
                    </div>
                </div>
                <div class="mb-3 d-flex d-flex justify-content-center align-content-center">
                    <label for="reppassword" class="col-sm-5 col-form-label">Repita Nuevo Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="reppassword" name="txtreppassword">
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-center align-content-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            <div th:if="${success != null}">
                <p class="alert alert-success" th:text="${success}"></p>
            </div>
        </div>
    </div>
    <script>
        function validarPassword() {
            var password = document.getElementById('nuevopassword').value;
            var repPassword = document.getElementById('reppassword').value;

            if (password === "") {
                alert("Ingrese Su Contraseña");
                return false;
            }

            if (password !== repPassword) {
                alert("Las Contraseñas No Coinciden");
                return false;
            }
        }
    </script>
</body>
</html>